@{
	ViewData["Title"] = "About Us";
}
<main class="max-width-80 d-flex flex-column align-items-center">
	<div class="max-width-80 d-flex flex-column align-items-center">
		<img alt="about us banner" class="max-width-100 cropped-image mb-3" src="/media/pictures/banners/AboutUs.jpg">
		<h1>About Us</h1>
	</div>
	<div class="d-flex flex-column max-width-80">
	
		<!-- INSERT TEXT HERE-->
		<h3>The Project</h3>
		<p>SNDTRCK is a fictional e-commerce site developed by the two swedish web designers Frans and Leonard.</p>
		
		<p>Developing this site was our final challenge in our education towards becoming certified developers. With SNDTRCK we show off
			our skills and what we&apos;ve learned during our two-year education at the prestigious college TUC Yrkeshögskola located in Jönköping, Sweden.</p>
			
		<h3>What we aim to showcase</h3>
		<p>In this project we&apos;ve strived towards reaching certain standards and showcasing what we learned, some of these things include:</p>
		<ul>
			<li>Basic and advanced understanding of how to work with a .NET Framework project</li>
			<li>Working with a project using agile methods and planning tools</li>
			<li>Knowledge in working with databases and using LINQ to fetch data from them</li>
			<li>Advanced know how in basic web development languages such as HTML, CSS &amp; JavaScript</li>
			<li>Knowledge in working within an MVC-structured project and how it&apos;s built up</li>
			<li>How to develop a website to make sure it has a user-friendly design and accessible nature</li>
			<li>Competence within working with API:s and integrating them into web-projects</li>
			<li>An advanced understanding of the C# programming language and how it&apos;s applicable in web-development</li>
			<li>Comfort working with pre-existing CSS frameworks such as Boostrap (used in this project)</li>
		</ul>
		</div>
	

</main>