@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
    var quantityWord = @Model.OrderQuantity == 1 ? "ITEM" : "ITEMS"; //condition ? "trueResult" : "falseResult"
}

<main id="checkout-main">
        
    <h1 id="checkout-header">Checkout</h1>

    <div id="order-detail-container">
        <p class="order-detail"><span class="countUp">@Model.OrderQuantity</span> @quantityWord FOR</p>
        <p class="order-detail"><span class="countUp">@Model.OrderSum</span> KR</p>
    </div>

    @using (Html.BeginForm("PlaceOrder", "Home", FormMethod.Post, new { id = "checkout-grid-container" }))
    {
            <input type="text" placeholder="First name" id="fName" name="FirstName" class="checkout-grid-item" required/>        

            <input type="text" placeholder="Last name" id="lName" name="LastName" class="checkout-grid-item" required/>

            <input type="text" placeholder="Address" id="address" name="Address" class="checkout-grid-item" required/>

            <input type="number" maxlength="5" placeholder="Postal code" id="pCode" name="PostalCode" class="checkout-grid-item" required/>

            <input type="text" placeholder="City" id="city" name="City" class="checkout-grid-item" required/>

            <input type="tel" placeholder="Phone number" id="telNumber" name="PhoneNumber" class="checkout-grid-item" required/>

            <input type="email" placeholder="Email address" id="email" name="Email" class="checkout-grid-item" required/>

        <aside id="place-order-container">
            <button type="submit">Place order <img src="/media/icons/thin-arrow-right.png" id="cart-checkout-arrow" /></button>
    </aside>
    }
</main>

<script src="~/js/Checkout.js" asp-append-version="true"></script>