@using SNDTRCK.Models.Users
@using Microsoft.AspNetCore.Identity

@{
	ViewData["Title"] = "Home Page";
}

@model List<AspNetUser>

@if (User.Identity!.IsAuthenticated && ViewBag.IsAdmin)
{
	<div id="admin-header">
		<a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" title="Admin">Access admin dashboard</a>
	</div>
}

<div class="text-center">
	<section class="home-view" id="home-hero-view">
		<article>
			<h2>
				COMPLETE YOUR STACK
			</h2>
			<a href="">SEE ALL CATEGORIES</a>
		</article>
		<article>
			<img src="~/media/pictures/placeholder.jpg">
			<!-- Här har vi bilderna -->
		</article>
	</section>

	<section class="home-view" id="home-top-5">
		<h3>
			TOP 5 ALBUMS NOW
		</h3>
		<article>
			<img src="~/media/pictures/placeholder.jpg">
			<img src="~/media/pictures/placeholder.jpg">
			<img src="~/media/pictures/placeholder.jpg">
			<img src="~/media/pictures/placeholder.jpg">
		</article>
	</section>

	<section class="home-view" id="home-heart-house">
		<section>
			<h3>
				OUR HEART BEATS LIKE HOUSE MUSIC
			</h3>
			<article>
				<h3>
					IN 128 BPM
				</h3>
				<a class="home-shop-now-btn" href="">Shop Now</a>
			</article>
		</section>
		<article>
			<img src="~/media/pictures/placeholder.jpg">
		</article>
	</section>
</div>
