@{
	List<Product> top5 = new List<Product>
	{
		Model[0],
		Model[11],
		Model[3],
		Model[4],
		Model[12]
	};

	static List<T> GetRandomElements<T>(List<T> originalList, int count)
	{
		if (count > originalList.Count)
		{
			throw new ArgumentException("Count cannot be greater than the number of elements in the list.");
		}

		Random rand = new Random();
		List<T> randomElements = new List<T>();

		for (int i = 0; i < count; i++)
		{
			int index = rand.Next(originalList.Count);
			randomElements.Add(originalList[index]);
			originalList.RemoveAt(index);
		}
		return randomElements;
	}

	ViewData["Title"] = "Home Page";
}


@model List<Product>

<main id="index-main">

	<!--<div class="text-center">-->
	<section class="home-section" id="home-section-1">

		<article>
			<h2>COMPLETE <br />YOUR <br />STACK</h2>
			<a class="hide-in-mobile see-categories-link" href="">SEE ALL CATEGORIES</a>
		</article>

		<!--Container needed to set size and aspect ratio of gif-->
		<div id="album-stack-gif-container">
			<img id="album-stack-gif" src="~/media/pictures/stack-gif.gif">
		</div>

		<!--Only shown in mobile, needed for a better look with the album stack-->
		<a class="hide-in-desktop see-categories-link" href="">SEE ALL CATEGORIES</a>
	</section>

	<section class="home-section" id="home-top-5">
		<h3>
			TOP 5 ALBUMS NOW
		</h3>
		<article>
			@foreach (var p in top5)
			{
				<article class="product-card">
					<img src="~/@p.CoverImageLink">
					<p class="top5-ranking">
						@{int pTop5 = top5.IndexOf(p) + 1; }
						@pTop5
					</p>


					<h4>@p.Title</h4>
					<i>@p.Artist</i>

					<div>
						<p>@p.Price SEK</p>
						<p>BUY</p>
					</div>
				</article>
			}
		</article>
	</section>

	<section class="home-view" id="home-heart-house">
		<section>
			<h3>
				OUR HEART BEATS LIKE HOUSE MUSIC
			</h3>
			<article>
				<h3>
					IN 128 BPM
				</h3>
				<a class="home-shop-now-btn" href="">Shop Now</a>
			</article>
		</section>
		<article>
			<img src="~/media/pictures/placeholder.jpg">
		</article>
	</section>
	<!--</div>-->

</main>