﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@model SNDTRCKContext

﻿
@{
	Layout = "/Views/Shared/_Layout.cshtml";

	var user = await UserManager.GetUserAsync(User);
	var userId = user!.Id;
}


@if (!Model.NewsletterSignups.Any(n => n.UserId == userId))
{
	<section class="card" style="width: 500px; text-align: center;">
		<img class="card-img-top" src="~/media/pictures/placeholder.jpg" alt="Promo Image" style="height: 250px;" />
		<div class="card-body">
			<h1 class="card-title">10% off your first order when you sign up for our newsletter!</h1>
			<p class="card-text">Sign up to get weekly updates on sales, new album drops and personal recommendations based on your style!</p>

			<div class="input-group mb-3">
				<input type="email" class="form-control" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">
				<div class="input-group-append">
					<button class="btn btn-primary" type="button">Subscribe</button>
				</div>
			</div>
		</div>
	</section>
}
else
{
	<section class="card" style="width: 500px; text-align: center;">
		<img class="card-img-top" src="~/media/pictures/placeholder.jpg" alt="Promo Image" style="height: 250px;" />
		<div class="card-body">
			<h1 class="card-title">You're already subscribed to our newsletter!'</h1>
			<p class="card-text">If you'd like to unsubscribe to our newsletter you can do so using the button below</p>

			<form asp-action="Unsubscribe" asp-controller="Home" method="post">
				<div class="input-group mb-3">
					<button class="btn btn-primary" type="submit">Unsubscribe</button>
				</div>
			</form>
		</div>
	</section>
}
