@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CheckoutViewModel
@{
    ViewData["Title"] = "Thank you!";
}

<main id="checkout-main">
        
    <h1>Thank you for your order!</h1>
    <a action="/">Return to start page</a>
</main>

<script src="~/js/ClearCartOnCheckout.js" asp-append-version="true"></script>