<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - SNDTRCK</title>
	<!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
	<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/header.css" asp-append-version="true"/>
</head>
<body>

	<header>
		<!--Checkbox needs to be put here in order to control nav style-->
		<input id="mobile-menu-checkbox" class="mobile-menu-checkbox hide-in-desktop" type="checkbox" onclick="checkIfScroll()" />
		<section id="header-content-section">

			<!--This div is necessary to position elements in the center-->
			<div id="center-header-content-div">
				<!--Mobile nav menu toggle-->
				<label class="hamburger hide-in-desktop" for="mobile-menu-checkbox"><span class="hamburger-line"></span></label>

				<!--Loggo-->
				<!--<a href="/Home/index"><img id="sndtrck-logo" alt="SNDTRCK logo" src="~/media/pictures/_logo/full_logo.png" /></a>-->
				<p id="header-logo-text">SNDTRCK</p>

				<!--Star and cart icon-->
				<div id="header-icon-container">
					<input id="desktop-header-searchbar" class="searchbar hide-in-mobile" type="text" placeholder="Search..">
					<img class="header-icon hide-in-mobile" src="~/media/icons/user.png" />
					<img class="header-icon" src="~/media/icons/star.png" />
					<img class="header-icon" src="~/media/icons/cart.png" />
				</div>
			</div>
		</section>	


		<nav class="nav">
			<ul id="navigation-list">
				<input id="mobile-header-searchbar" class="searchbar hide-in-desktop" type="text" placeholder="Search..">
				<li class="nav-category-text"><a href="#">News</a><img src="/media/icons/thin-arrow-right.png" class="header-icon hide-in-desktop" /></li>
				<li class="nav-category-text hide-in-desktop"><a>Log in/Sign up</a><img src="/media/icons/thin-arrow-right.png" class="header-icon hide-in-desktop" /></li>
				<!--<a href="#"><li class="nav-category-text">Category<img src="/media/icons/thin-arrow-right.png" class="header-icon hide-in-desktop" /></li></a>-->
				<li class="nav-category-text"><a href="#">Category</a><img src="/media/icons/thin-arrow-right.png" class="header-icon hide-in-desktop" /></li>
				<li class="nav-category-text"><a href="#">Category</a><img src="/media/icons/thin-arrow-right.png" class="header-icon hide-in-desktop" /></li>
				<li class="nav-category-text"><a href="#">Category</a><img src="/media/icons/thin-arrow-right.png" class="header-icon hide-in-desktop" /></li>
			</ul>
		</nav>
	</header>

	<!--<div class="container">-->
		<main role="main" >
			@RenderBody()
		</main>
	<!--</div>-->

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - SNDTRCK - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/header.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
