@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> _userManager

@{
	var isAdmin = false;
	var user = await _userManager.GetUserAsync(User);

	if (user != null)
		isAdmin = await _userManager.IsInRoleAsync(user!, "Admin");
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - SNDTRCK</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/header-footer.css" asp-append-version="true"/>
	<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/shoppingcart.css" asp-append-version="true" />
</head>
<body>

	<header>
		<!--Checkbox needs to be put here in order to control nav style-->
		<input id="mobile-menu-checkbox" class="mobile-menu-checkbox hide-in-desktop" type="checkbox" onclick="checkIfScroll()" />
		<section id="header-content-section">

			<!--This div is necessary to position elements in the center-->
			<div id="center-header-content-div">
				<!--Mobile nav menu toggle-->
				<label class="hamburger hide-in-desktop" for="mobile-menu-checkbox"><span class="hamburger-line"></span></label>

				<!--Logo-->
				<a id="logo-anchor-container" asp-controller="Home" asp-action="Index"><img id="header-logo-text" alt="SNDTRCK logo" src="~/media/pictures/_logo/full_logo.png" /></a>

				<!--Star and cart icon-->
				<div id="header-icon-container">
					<!--Searchbar in desktop-->
					<form id="desktop-searchbar-form" method="post">
						<input id="desktop-header-searchbar" class="searchbar hide-in-mobile" type="text" placeholder="Search.." autocomplete="off" onkeyup='ShowSearchSuggestions(this.value, "desktop")' onblur="HideSuggestionsContainer('desktop')">
						
						<div id="desktop-search-suggestions-container" class="search-suggestions-container">
							
							<!--Example of search suggestion-->
							<a class="search-suggestion" href="#">
								<div class="search-suggestion-image-container">
									<img src="/media/pictures/album-covers/zeppelin.jpg" />
								</div>
								<div class="search-suggestion-text-container">
									<ul>
										<li>Led Zeppelin - Led Zeppelin</li>
										<li><span class="color-of-price">299</span> kr</li>
									</ul>
								</div>
							</a>							
							
							<!--"See all" button -->
							<a id="search-see-all-button" href="#">See all</a>
						</div>
					</form>
					<partial name="_LoginPartial" class="hide-in-mobile"/>
					@if (User.Identity!.IsAuthenticated && isAdmin)
					{
							<a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" title="Admin" class="hide-in-mobile">
							<img class="header-icon" src="~/media/icons/crown.png" />
							</a>
					}
					<!--<img class="header-icon hide-in-mobile" src="~/media/icons/star.png" />-->
					<a id="shopping-cart-link" asp-controller="Home" asp-action="ShoppingCart" title="Shopping Cart"><img class="header-icon" src="~/media/icons/cart.png" /><span id="cart-quantity-indicator"> </span></a>
				</div>
			</div>
		</section>	


		<nav class="nav">
			<ul id="navigation-list">
				<form id="mobile-header-searchbar-form" class="hide-in-desktop">
					<input id="mobile-header-searchbar" class="searchbar hide-in-desktop" type="text" placeholder="Search.." autocomplete="off" onkeyup='ShowSearchSuggestions(this.value, "mobile")' onblur="HideSuggestionsContainer('mobile')">
					<div id ="mobile-search-suggestions-container" class="search-suggestions-container">
						<!--Example of search suggestion-->
						<a class="search-suggestion" href="#">
							<div class="search-suggestion-image-container">
								<img src="/media/pictures/album-covers/zeppelin.jpg" />
							</div>
							<div class="search-suggestion-text-container">
								<ul>
									<li>Led Zeppelin - Led Zeppelin</li>
									<li><span class="color-of-price">299</span> kr</li>
								</ul>
							</div>
						</a>

						<!--"See all" button -->
						<a id="search-see-all-button" href="#">See all</a>
					</div>
				</form>
				<li class="nav-category-text hide-in-desktop"><a>Log in/Sign up</a><img src="/media/icons/thin-arrow-right.png" class="mobile-nav-arrow-icon hide-in-desktop" /></li>
				@if (User.Identity!.IsAuthenticated && isAdmin)
				{
					<li class="nav-category-text hide-in-desktop">
						<a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" title="Admin" class="hide-in-desktop">Admin view</a>
						<img src="/media/icons/thin-arrow-right.png" class="mobile-nav-arrow-icon hide-in-desktop" />
					</li>
				}
				<li class="nav-category-text hide-in-desktop"><a href="#">Favourites</a><img src="/media/icons/thin-arrow-right.png" class="mobile-nav-arrow-icon hide-in-desktop" /></li>
				<li class="nav-category-text"><a href="#">Rock</a><img src="/media/icons/thin-arrow-right.png" class="mobile-nav-arrow-icon hide-in-desktop" /></li>
				<li class="nav-category-text"><a href="#">Pop</a><img src="/media/icons/thin-arrow-right.png" class="mobile-nav-arrow-icon hide-in-desktop" /></li>
				<li class="nav-category-text"><a href="#">House</a><img src="/media/icons/thin-arrow-right.png" class="mobile-nav-arrow-icon hide-in-desktop" /></li>
				<li class="nav-category-text"><a href="#">Hip-hop</a><img src="/media/icons/thin-arrow-right.png" class="mobile-nav-arrow-icon hide-in-desktop" /></li>
				<li class="nav-category-text"><a href="#">Disco</a><img src="/media/icons/thin-arrow-right.png" class="mobile-nav-arrow-icon hide-in-desktop" /></li>
				<li class="nav-category-text"><a href="#">Electronic</a><img src="/media/icons/thin-arrow-right.png" class="mobile-nav-arrow-icon hide-in-desktop" /></li>
				<li class="nav-category-text"><a href="#">New Age</a><img src="/media/icons/thin-arrow-right.png" class="mobile-nav-arrow-icon hide-in-desktop" /></li>
			</ul>

		</nav>
		<label id="close-mobile-menu-label" class="hide-in-desktop" for="mobile-menu-checkbox" />
	</header>

	<!--<div class="container">-->
		<!--<main role="main" >-->
			@RenderBody()
		<!--</main>-->
	<!--</div>-->

	<!--Css for home-section class can be found in home.css-->
	<footer>
		<div id="footer-left-hand-container" class="footer-hand-container">
			<img class="footer-hand" src="/media/pictures/left-hand.png" />
		</div>
		<div id="footer-right-hand-container" class="footer-hand-container">
			<img class="footer-hand" src="/media/pictures/right-hand.png" />
		</div>

		<div id="footer-bar-code-container">
			<img id="footer-bar-code" src="~/media/pictures/bar-code.png" />
		</div>

		<div id="footer-pricetag-container">
			<img id="footer-pricetag" src="~/media/pictures/pricetag.png"/>
		</div>

		<!--flex-direction: column-->
		<section id="footer-list">
			<!--flex-direction: row-->
			<div class="footer-list-row">
				<p class="footer-list-p">1</p>
				<a class="footer-list-a">ABOUT US</a>
			</div>			
			<div class="footer-list-row">
				<p class="footer-list-p">2</p>
				<a class="footer-list-a">CONTACT US</a>
			</div>			
			<div class="footer-list-row">
				<p class="footer-list-p">3</p>
				<a class="footer-list-a">DELIVERY</a>
			</div>			
			<div class="footer-list-row">
				<p class="footer-list-p">4</p>
				<a class="footer-list-a">TERMS & CONDITIONS</a>
			</div>			
			<div class="footer-list-row">
				<p class="footer-list-p">5</p>
				<a class="footer-list-a">PRIVACY POLICY</a>
			</div>



		</section>
		
		
	</footer>


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/header.js" asp-append-version="true"></script>
	<script src="~/js/ShoppingCart.js" asp-append-version="true"></script>
	<script src="~/js/Searchbar.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
