

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - SNDTRCK</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/header-footer.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/shoppingcart.css" asp-append-version="true" />
</head>
<body>

	<header>
		<!--Checkbox needs to be put here in order to control nav style-->
		<input id="mobile-menu-checkbox" class="mobile-menu-checkbox hide-in-desktop" type="checkbox" onclick="checkIfScroll()" />
		<section id="header-content-section">

			<!--This div is necessary to position elements in the center-->
			<div id="center-header-content-div">
				<!--Mobile nav menu toggle-->
				<label class="hamburger hide-in-desktop" for="mobile-menu-checkbox"><span class="hamburger-line"></span></label>

				<!--Logo-->
				<a id="logo-anchor-container" asp-controller="Home" asp-action="Index"><img id="header-logo-text" alt="SNDTRCK logo" src="~/media/pictures/_logo/full_logo.png" /></a>

				<!--Star and cart icon-->
				<div id="header-icon-container">
					<input id="desktop-header-searchbar" class="searchbar hide-in-mobile" type="text" placeholder="Search..">
					<partial name="_LoginPartial" class="hide-in-mobile" />
					<img class="header-icon hide-in-mobile" src="~/media/icons/star.png" />
					<a asp-controller="Home" asp-action="ShoppingCart" title="Shopping Cart"><img class="header-icon" src="~/media/icons/cart.png" /></a>
				</div>
			</div>
		</section>
		<label id="close-mobile-menu-label" class="hide-in-desktop" for="mobile-menu-checkbox" />
	</header>

	<!--<div class="container">-->
	<!--<main role="main" >-->
	@RenderBody()
	<!--</main>-->
	<!--</div>-->

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/header.js" asp-append-version="true"></script>
	<script src="~/js/ShoppingCart.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
