@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

	@if (SignInManager.IsSignedIn(User))
	{
		<a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
			<img class="header-icon hide-in-mobile" src="~/media/icons/user.png" />
		</a>
	}
	else
	{
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
			<img class="header-icon hide-in-mobile" src="~/media/icons/user.png" />
			</a>
	}