
@font-face{
    font-family: inter;
    src: url(/fonts/Inter/Inter-VariableFont_slnt,wght.ttf)
}

body {
    overflow-x: hidden;
    margin: 0;
}

/*To make the fixed header not cover any content*/
.container{
    padding-top: 18vh;
}


header {
    height: 18vh;
    width: 100%;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#header-logo-text {
    color: #0032D2;
    font-size: 64px;
    font-weight: 800;
    margin: 0 0 0 5%;
    font-family: inter;
    user-select: none;
    -webkit-user-drag: none;
}


/*The high part that contains logo and icons (not nav with categories)*/
header section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: white;
}

#header-icon-container {
    margin: 0 10% 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#desktop-header-searchbar {
    height: 25px;
    width: 250px;
    background-image: url('/media/icons/search.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 80%;
    background-position: 98% 20%;
    padding: 0 5% 0 0;
}

.header-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    margin: 0 0 0 35px;
}


/*Navbar*/
nav{
    background-color: white !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.nav-category-text{
    color: black;
    font-weight: bolder;
    font-family: inter;
}

#navigation-list{
    list-style: none;
    display: flex;
    width: 100%;
    margin: 0;
}


/* #region Media queries*/
/*For phones*/
@media screen and (max-width: 599px) {
}
    /*For tablet potrait up (used as standard mobile verision of site)*/
    @media screen and (max-width: 899px) {
        
        /*#region mobile menu/nav */
        #desktop-header-searchbar{
            display: none;
        }

        /*The white menu that slides in from the right*/
        nav {
            overflow: hidden;
            width: 100%;
            height: 82vh;
            background-color: white;
            position: fixed;
            bottom: 0;
            max-width: 0;
            transition: max-width .5s ease-out;
        }

        /*The <ul> list with category items in nav*/
        #navigation-list {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            position: absolute;
            top: 0;
            right: 0;
        }

        /*Each <li>-element or category item in the nav*/
        .nav-category-text {
            margin: 8% 0 0 5%;
            font-size: 2em;
        }

        /*Mobile menu toggle icon*/
        .hamburger {
            cursor: pointer;
            float: left;
            padding: 40px 20px;
        }

        /*Mobile menu toggle icon lines*/
        .hamburger-line {
            background: black;
            display: block;
            height: 2px;
            position: relative;
            width: 24px;
        }

        .hamburger-line::before,
        .hamburger-line::after {
            background: black;
            content: "";
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }

        .hamburger-line::before {
            top: 5px;
        }

        .hamburger-line::after {
            top: -5px;
        }

        /*Hide checkbox for mobile menu*/
        #mobile-menu-checkbox {
            display: none;
        }

        /*When checkbox is checked*/
        .mobile-menu-checkbox:checked ~ nav {
            max-width: 75%;
        }

        .mobile-menu-checkbox:checked ~ .hamburger .hamburger-line {
            background: transparent;
        }

        .mobile-menu-checkbox:checked ~ .hamburger .hamburger-line::before {
            transform: rotate(-45deg);
            top: 0;
        }

        .mobile-menu-checkbox:checked ~ .hamburger .hamburger-line::after {
            transform: rotate(45deg);
            top: 0;
        }

        /*#endregion*/
    }

    /*Breakpoint for mobile verision of site*/

    /*For tablet landscape up + small computers*/
    @media screen and (min-width: 900px) {
        nav {
            margin: 0;
            height: 5vh;
        }

        /*The <ul> list with category items in nav*/
        #navigation-list {
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
        }

        /*Each <li>-element or category item in the nav*/
        .nav-category-text {
            margin: 0 2% 0 2%;
            font-size: 1.1em;
        }

        /*Hides mobile menu parts*/
        #mobile-menu-checkbox, .hamburger{
            display: none;
        }
    }
    /*For desktop up*/
    @media screen and (min-width: 1200px) {

    }
    /*For big desktop*/
    @media screen and (min-width: 1800px) {
    }