:root {
    --main-blue: #0032D2;
    --main-orange: #FF3300;
}
/*Bör läggas i en root-css fil*/
@font-face {
    font-family: inter;
    src: url(/fonts/Inter/Inter-VariableFont_slnt,wght.ttf)
}

body {
}

#index-main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#admin-header {
    width: 960px;
    text-align: center;
    padding: 7px;
    background-color: var(--main-blue);
}

    #admin-header a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }


/*Shared styles for all home-sections*/
.home-section {
    /*background-color: var(--main-blue); --färg appliceras med id istället för klass*/
    display: flex;
    /*margin-bottom: 7vh;*/
}

/*The orange section at the top*/
#home-section-1 {
    background-color: #FF3300;
}

/*Shared rules for both article and div in #home-section-1*/
/*This one need no media queries*/
#home-section-1 > *{
    display: flex; /*Needed for both article and almbum-stack-container*/
    flex-direction: column; /*Only used by article*/
}

/*"Complete your stack" header in orange section*/
#home-section-1 article h2 {
    font-weight: 700;
    font-family: inter;
    color: white;
}

/*The link "See all categories"*/
.see-categories-link {
    font-weight: 700;
    margin-top: 8%;
    color: white;
}

/*The div containing the img gif
#album-stack-gif-container {
    aspect-ratio: 1/1;
}
    aspect-ratio is not a valid css property so it doesn't change anything, delete?
    */

    #album-stack-gif{
        -webkit-user-drag: none;
        user-select: none;
    }

#home-top-5 {
    background-color: #D8D8D8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

    #home-top-5 h3 {
        color: black;
        font-weight: 700;
    }
    #home-top-5 article {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #home-top-5 img {
        border: 1px solid black;
        filter: drop-shadow(-5px 4px 3px #949494);
        width: 80%;
        max-width: 200px;
        max-height: 200px;
    }

    #home-top-5 .top5-ranking {
        position: absolute;
        top: 15px;
        left: 25px;
        width: 35px;
        height: 35px;
        font-size: 20px;
        text-align: center;
        color: white;
        background-color: black;
        border: 0px solid;
        border-radius: 20px;
    }

    #home-top-5 .product-card {
        position: relative;
        width: 168px;
        height: 320px;
        display: flex;
        background-color: white;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        margin: 5px;
        border: 0px solid;
        border-radius: 8px;
    }

    #home-top-5 div {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        margin: 5px;
        border: 0px solid;
        border-radius: 8px;
    }

.product-card h4 {
    font-size: 1.0rem;
    text-align: center;
    text-decoration: none;
}

.product-card i {
    text-align: center;
    width: 80%;
    font-size: 1.0rem;
}

#home-heart-house {
    background-color: #0032D2;
}

    #home-heart-house h3 {
        text-align: left;
        color: white;
        font-weight: 700;
        margin-bottom: 10px;
    }

    #home-heart-house a {
        border: solid 1px #FF3300;
        font-weight: 700;
        text-decoration: none;
        border-radius: 15px;
        padding: 3px 10px;
        background-color: #FF3300;
        color: white;
    }

    #home-heart-house section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #home-heart-house article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #home-heart-house img {
        width: 275px;
    }



/* #region Media queries*/
/*For phones*/
@media screen and (max-width: 599px) {
    /*Only used in special cases for really small screens*/

    /*"Complete your stack" header in orange section*/
    #home-section-1 article h2 {
        font-size: 3.5em !important;
        font-size: 3em !important; /*For galaxy fold*/
        /*margin: 5% 0 0 6%;*/
    }

    /*The div containing the img gif*/
    #album-stack-gif-container {
        width: 75% !important;
    }

    /*The link "See all categories"*/
    .see-categories-link {
        font-size: 1.8em !important;
    }
}
/*For tablet potrait up (used as standard mobile verision of site)*/
@media screen and (max-width: 899px) {
    .home-section {
        width: 95%; /*Before <main> was moved into individual pages from _Layout*/
        width: 100%;
    }

    #home-section-1 {
        height: 98%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    /*"Complete your stack" header in orange section*/
    #home-section-1 article h2 {
        font-size: 5em;
        margin: 5% 0 0 6%;
    }

    /*Article containing text*/
    #home-section-1 article {
        margin-bottom: 5%;
    }

    /*The div containing the img gif*/
    #album-stack-gif-container {
        width: 65%;
        margin: auto;
        /*margin-top: 0;*/
    }

    /*The link "See all categories"*/
    .see-categories-link {
        font-size: 2.8em;
        margin: auto;
        margin-top: 0;
        margin-bottom: 8%;
    }
}

/*Breakpoint for mobile verision of site*/

/*For tablet landscape up + small computers*/
@media screen and (min-width: 900px) {
    .home-section {
        width: 98%; /*Before <main> was moved into individual pages from _Layout*/
        width: 100%;
        margin-bottom: 2vw;
    }
    
    /*Since I don't want all sections to have the same height, it is applied by id instead of class*/
    #home-section-1 {
        height: 83%;
        height: 78vh;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /*"Complete your stack" header in orange section*/
    #home-section-1 article h2 {
        font-size: 4.5em;
    }

    /*Article containing text*/
    #home-section-1 article {
        margin-left: 5%;
        margin-bottom: 5%;
    }

    /*The link "See all categories"*/
    .see-categories-link {
        font-size: 1.8em;
    }

    /*The div containing the img gif*/
    #album-stack-gif-container {
        width: 32%;
        margin: 0 12% 0 0;
    }

}
/*For desktop up*/
@media screen and (min-width: 1200px) {
    #home-top-5 .product-card {
        width: 220px;
    }
}
/*For big desktop*/
@media screen and (min-width: 1800px) {
}