#account-ul {
    width: 100%;
}

#account-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#account-nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#account-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-button {
    background-color: var(--main-blue) !important;
    border-color: var(--main-blue) !important;
}

#personal-data-buttons {
    display: flex;
}

#personal-data-buttons .btn {
    margin: 10px;
}

.profile-form {
    width: 50%;
}