:root {
    --main-blue: #0032D2;
    --main-orange: #FF3300;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  /*Refers to the size of the viewport since <html> has no parent*/
  height: 100%;
}

body {
    /*Necessary in order to set height to main*/
    min-height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding-bottom: 0.5vh; /*to make space under footer*/

    /*Changes made since <main> was moved into individual pages from _Layout*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

main {
    display: flex;
    flex-wrap: wrap;
    /*Each page has its own main-tag, more specific flex-rules for it can be found at respective page's css */

    /*Changes made since <main> was moved into individual pages from _Layout*/
    width: 98%;
    min-height: 82vh;
}


a:active{
    color: var(--main-blue);
}

footer {
    /*bottom: 0px;*/
}

#sndtrck-logo {
    width: 200px;
}


/* #region Media queries*/
/*For phones*/
@media screen and (max-width: 599px) {
    /*Only used in special cases for really small screens*/
}
/*For tablet potrait up (used as standard mobile verision of site)*/
@media screen and (max-width: 899px) {
    main {
        /*To make header not cover any content in mobile verision*/
        padding-top: 10vh;
        height: 100vh;
        min-height: 100vh;  
        width: 94%;
    }

    /*Hides all elements on site that shouldn't be displayed on mobile verision*/
    .hide-in-mobile{
        display: none !important;
    }
}

/*Breakpoint for mobile verision of site*/

/*For tablet landscape up + small computers*/
@media screen and (min-width: 900px) {
    /*Hides all elements on site that shouldn't be displayed on desktop verision*/
    .hide-in-desktop {
        display: none !important;
    }
}
/*For desktop up*/
@media screen and (min-width: 1200px) {
}
/*For big desktop*/
@media screen and (min-width: 1800px) {
}