@{
	if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
	{
		Layout = parentLayout.ToString();
	}
	else
	{
		Layout = "/Areas/Identity/Pages/_Layout.cshtml";
	}
}
<section id="login-main">
	<section id="login-heading">
		<h1>Manage your account</h1>
		<h2>Change your account settings</h2>
	</section>

	<div id="account-content">
	<div id="account-ul">
		<partial name="_ManageNav" />
	</div>
		@RenderBody()
	</div>


	<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
		<button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
	</form>
</section>

@section Scripts {
	@RenderSection("Scripts", required: false)
}
