@page
@{
	Layout = "../_Shared/_Layout";

	var orders = ViewBag.Orders;
	var orderDetails = ViewBag.OrderDetails;
}

<main class="max-width-80 d-flex flex-column text-center align-items-center">
	<h1>Manage Orders</h1>
	
	<table class="table table-hover manage-admin">
		<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Postal</th>
			<th scope="col">City</th>
			<th scope="col">Phone Nr</th>
			<th scope="col">Email</th>
			<th scope="col">Order Sum</th>
		</tr>
		</thead>
		<tbody>

		@if (orders != null)
		{
			@foreach (var o in orders)
			{
				<tr>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col"></th>



					<th scope="col">
					</th>
				</tr>


			}
		}

		</tbody>
	</table>

</main>

<!-- TODO: Implement functions but right now orders doesn't exist yet -->