@page
@{
    Layout = "../_Shared/_Layout";
}

<main class="max-width-80 d-flex flex-column text-center align-items-center">
	<h1>Manage Orders</h1>
	<h2>TODO: Implement functions but right now orders doesn't exist yet</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempus lorem eget tortor ultrices convallis. Quisque bibendum quam vel nulla porttitor convallis. Sed metus orci, congue ut ullamcorper eget, fermentum nec tortor. Aenean molestie iaculis nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc tristique purus ut lacinia semper. Suspendisse orci urna, sagittis sit amet erat pulvinar, facilisis dictum sapien.
		Nullam tempor, diam at pellentesque dapibus, massa lacus finibus enim, id imperdiet arcu dui a dui. Vivamus id sapien posuere, tincidunt sem vitae, bibendum arcu. Vivamus nisl lacus, condimentum nec sodales nec, placerat in neque. Praesent tempus dictum molestie. Suspendisse potenti. Integer tempor mauris at nunc lacinia, eu maximus leo posuere. Donec enim turpis, dignissim a nulla id, egestas molestie tellus. Etiam rutrum at arcu sed aliquet. In aliquam nibh at varius ultrices. Nulla gravida odio quis elit consequat bibendum. Suspendisse vehicula nunc vel nisl posuere, sodales gravida metus tincidunt. Integer facilisis, arcu quis dapibus eleifend, sem dolor bibendum libero, non consectetur ligula velit vel neque.
		Pellentesque efficitur euismod massa, eget euismod nulla placerat sit amet. Sed nec aliquet tellus. Nunc ligula eros, tempus ut suscipit id, euismod vitae metus. In pretium elementum tortor, non semper nunc ultrices nec. Quisque gravida, turpis id tempor efficitur, dolor tortor ultrices nisi, sed blandit sem ante in turpis. Nulla tristique nulla in facilisis dignissim. Etiam nec arcu non ex euismod dictum. Praesent libero ante, pulvinar semper dapibus in, pulvinar mollis lorem. Sed bibendum lorem sit amet ipsum sollicitudin gravida. Quisque rutrum viverra bibendum. Phasellus velit tortor, suscipit id mi a, porta feugiat mauris. Aliquam eu cursus lorem. Pellentesque eget libero id erat molestie tristique sit amet quis ante. Pellentesque bibendum nulla orci, ac tempus augue laoreet sed.
	</p>
</main>

<!-- TODO: Implement functions but right now orders doesn't exist yet -->