@using SNDTRCK.Models
@using SNDTRCK.Models.Users


@model SNDTRCKContext
@{
	Layout = "_Layout";
}

<h2>Manage Users</h2>

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Email</th>
			<th scope="col">Phone Nr</th>
			<th scope="col">Role</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model.AspNetUsers)
		{
			<tr>
				<th scope="col">@user.Email</th>
				<th scope="col">@user.PhoneNumber</th>
				<th scope="col"></th>
				<th scope="col">
					<button type="button" class="btn btn-success">Edit</button>
					<button type="button" class="btn btn-danger">Delete</button>
				</th>
			</tr>
		}
	</tbody>
</table>