@using SNDTRCK.Models

@model List<Product>
@{
	Layout = "_Layout";
}

<h2>Manage Products</h2>

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Email</th>
			<th scope="col">Phone Nr</th>
			<th scope="col">Role</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col">Roles</th>


				<th scope="col">
					<button type="button" class="btn btn-success">Edit</button>
					<button type="button" class="btn btn-danger">Delete</button>
				</th>
			</tr>
	</tbody>
</table>